function renren() {
  window.open("http://share.renren.com/share/buttonshare.do?link=" + url + "&title=" + title)
}

function douban() {
  window.open("http://shuo.douban.com/!service/share?image=" + img + "&href="+ url + "&name=" + title)
}

function sina() {
  window.open("http://v.t.sina.com.cn/share/share.php?title=" + title + "&url=" + url + "&pic=" + img)
}

function qzone() {
  window.open("http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=" + url + "&title=" + title + "&pics=" + img + "&summary=" + summary)
}

function kaixin001() {
  window.open("http://www.kaixin001.com/repaste/share.php?rtitle="+ title + "&rurl="+ url + "&rcontent=" + summary)
}

function tt() {
  window.open("http://v.t.qq.com/share/share.php?title=" + title + "&pic=" + img)
}

function sohu() {
 window.open("http://t.sohu.com/third/post.jsp?url=" + url + "&title=" + title + "&content=" + summary + "&pic=")
}

function msn() {
  window.open("http://profile.live.com/P.mvc#!/badge?url=" + url + "&screenshot=")
}

function taobao() {
	window.open("http://share.jianghu.taobao.com/share/addShare.htm?url=" + url)
}

function pengyou(){
	window.open("http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?to=pengyou&url=" + url)
}

function netease(){
	window.open("http://t.163.com/article/user/checkLogin.do?source=" + title + ' ' + url + "&images=" + img)
}

function baidu_cang(){
	window.open("http://cang.baidu.com/do/add?it=" + title + "&iu=" + url)
}

function baidu_tieba(){
	window.open("http://cang.baidu.com/do/add?it=" + title + "&iu=" + url)
}

function copy(){	
	var IE=false,c= document.title + ' ' + jQuery(location).attr('href');	
	var j = navigator.userAgent,l = /MSIE ([0-9]{1,}[\.0-9]{0,})/.exec(j);	
	if (l && (l = parseFloat(RegExp.$1))){IE = true}	if(IE){		
		clipboardData.setData('Text', c);		
		alert("复制成功,请粘贴到你的QQ/MSN上推荐给你的好友！")	
	}else if (prompt('你使用的是非IE核心浏览器，请按下 Ctrl+C 复制代码到剪贴板', c)) {		
			alert('复制成功,请粘贴到你的QQ/MSN上推荐给你的好友！')	
	} else {		
			alert('目前只支持IE，请复制地址栏URL,推荐给你的QQ/MSN好友！')	
	}
};

$(document).ready(function() {
  $('body').append('<ul><li><a href="javascript:renren()" >人人</a></li><li><a href="javascript:douban()" >豆瓣</a></li><li><a href="javascript:sina()" >新浪微博</a></li><li><a href="javascript:qzone()" >QQ空间</a></li><li><a href="javascript:kaixin001()">开心</a></li><li><a href="javascript:tt()">腾讯微博</a></li><li><a href="javascript:sohu()">搜狐微博</a></li><li><a href="javascript:msn()">MSN</a></li><li><a href="javascript:taobao()">淘江湖</a></li><li><a href="javascript:pengyou()">朋友网</a></li><li><a href="javascript:netease()">网易</a></li><li><a href="javascript:baidu_tieba()">百度贴吧</a></li><li><a href="javascript:baidu_cang()">百度搜藏</a></li><li><a href="javascript:copy()">复制</a></li></ul>');

  var url = encodeURIComponent(jQuery(location).attr('href'));
  var title = encodeURIComponent(document.title);
  var img = "http://assets.demohour.com/images/logo.png"
  var summary = encodeURIComponent("你可以在这里发起项目，向公众推广，并获得资金和支持，去完成你的梦想！ 你也可以浏览各种有趣的项目，支持创意，预购大家的梦想！")

});